# Copy to the k3s server as /etc/rancher/k3s/registries.yaml, then:
#   sudo systemctl restart k3s
#
mirrors:
  "<ip:port>":
    endpoint:
      - "http://<ip:port>"
configs:
  "<ip:port>":
    tls:
      insecure_skip_verify: true
